<div class="flex-none w-64 bg-surface-container-low p-4 rounded-xl flex items-center gap-4">
    <div class="w-16 h-16 rounded-lg bg-slate-200 overflow-hidden shrink-0">
        <img alt="<%= view.name %>" class="w-full h-full object-cover" src="<%= view.imageSrc %>"/>
    </div>
    <div>
        <p class="font-bold text-sm text-on-surface"><%= view.name %></p>
        <p class="text-xs text-on-surface-variant"><%= view.distance %></p>
    </div>
</div>
