<%- include('partials/header.ejs'); -%>

<header>
  <div class="home">
  </div>
  <div class="headings">
    <h2>Dashboards</h2>
    <h3>By Utsab</h3>
    <a href="/home" class="btn">Welcome</a>
  </div>
</header>

<%- include('partials/footer'); -%>