<%- include('partials/header.ejs'); -%>

<link rel="stylesheet" href="/css/dashboard.css">

<body>
  <div class="home">
    <div class="headings">
      <h2>Welcome</h2>
      <h3>to Footsal Nepal</h3>
      <h4>Search and Book any futsals of your choice</h4>
    </div>
  </div>
</body>

<%- include('partials/footer'); -%>