.home {
  background-image: url("./../../assets/FootballGround.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  position: relative;
  margin-top: 70px;
}

.headings {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2,
h3,
h4 {
  margin: 0 0 10px 0;
}

@media (max-width: 1200px) {
  .headings {
    left: 5%;
  }
}
